node_modules
/src/js/app.js
/www
/dev
/app
/dist
platforms
plugins
package-lock.json
yarn-error.log
.idea
/android
/ios
.DS_Store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
