node_modules
src/app.js
service-worker.js
app/
app/assets
dist
platforms
plugins
package-lock.json
yarn-error.log
yarn.lock
assets/js/*
.idea
android
ios
.DS_Store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
