.feature3 {
  background-color: #424242;
  color: whitesmoke;
}
cg-board {
  background-image: url('../images/board/gray.svg');
}
.btn-outline-secondary {
  --btn-outline-secondary-color: lightgray; /* used to set hover color to the regular button color on mobile (effectively disabling hover for buttons on mobile) */
  color: var(--btn-outline-secondary-color)
}
.chat-text,.nav-link,.card-header,.card-footer {
  color: lightgray;
}
.top-panel,.bottom-panel {
  color: lightslategray;
}
.chat-text strong, a {
  color: rgba(159, 184, 228, 0.75);
}
#game-status,#game-watchers,.chat-text strong.mine {
  color: rgba(240, 159, 67, 0.95);
}
