.feature3 {
  background-color: #d3d3d3;
}
.card-body {
  background-color: #d3d3d3;
}
.chat-text {
  color: #666666;
}
.header,.footer,.black-3c85d {
  background-color: #666666;
}
.white-1e1d7 {
  background-color:#d3d3d3;
}
a.logo {
  color: #d3d3d3;
}
