.cg-wrap piece.pawn.white {
  background-image: url('../images/pieces/cburnett/wP.svg');
}
.cg-wrap piece.bishop.white {
  background-image: url('../images/pieces/cburnett/wB.svg');
}
.cg-wrap piece.knight.white {
  background-image: url('../images/pieces/cburnett/wN.svg');
}
.cg-wrap piece.rook.white {
  background-image: url('../images/pieces/cburnett/wR.svg');
}
.cg-wrap piece.queen.white {
  background-image: url('../images/pieces/cburnett/wQ.svg');
}
.cg-wrap piece.king.white {
  background-image: url('../images/pieces/cburnett/wK.svg');
}
.cg-wrap piece.pawn.black {
  background-image: url('../images/pieces/cburnett/bP.svg');
}
.cg-wrap piece.bishop.black {
  background-image: url('../images/pieces/cburnett/bB.svg');
}
.cg-wrap piece.knight.black {
  background-image: url('../images/pieces/cburnett/bN.svg');
}
.cg-wrap piece.rook.black {
  background-image: url('../images/pieces/cburnett/bR.svg');
}
.cg-wrap piece.queen.black {
  background-image: url('../images/pieces/cburnett/bQ.svg');
}
.cg-wrap piece.king.black {
  background-image: url('../images/pieces/cburnett/bK.svg');
}
