.cg-wrap piece.pawn.white {
  background-image: url('../images/pieces/fantasy/wP.svg');
}
.cg-wrap piece.bishop.white {
  background-image: url('../images/pieces/fantasy/wB.svg');
}
.cg-wrap piece.knight.white {
  background-image: url('../images/pieces/fantasy/wN.svg');
}
.cg-wrap piece.rook.white {
  background-image: url('../images/pieces/fantasy/wR.svg');
}
.cg-wrap piece.queen.white {
  background-image: url('../images/pieces/fantasy/wQ.svg');
}
.cg-wrap piece.king.white {
  background-image: url('../images/pieces/fantasy/wK.svg');
}
.cg-wrap piece.pawn.black {
  background-image: url('../images/pieces/fantasy/bP.svg');
}
.cg-wrap piece.bishop.black {
  background-image: url('../images/pieces/fantasy/bB.svg');
}
.cg-wrap piece.knight.black {
  background-image: url('../images/pieces/fantasy/bN.svg');
}
.cg-wrap piece.rook.black {
  background-image: url('../images/pieces/fantasy/bR.svg');
}
.cg-wrap piece.queen.black {
  background-image: url('../images/pieces/fantasy/bQ.svg');
}
.cg-wrap piece.king.black {
  background-image: url('../images/pieces/fantasy/bK.svg');
}