.cg-wrap piece.pawn.white {
  background-image: url('../images/pieces/leipzig/wP.svg');
}
.cg-wrap piece.bishop.white {
  background-image: url('../images/pieces/leipzig/wB.svg');
}
.cg-wrap piece.knight.white {
  background-image: url('../images/pieces/leipzig/wN.svg');
}
.cg-wrap piece.rook.white {
  background-image: url('../images/pieces/leipzig/wR.svg');
}
.cg-wrap piece.queen.white {
  background-image: url('../images/pieces/leipzig/wQ.svg');
}
.cg-wrap piece.king.white {
  background-image: url('../images/pieces/leipzig/wK.svg');
}
.cg-wrap piece.pawn.black {
  background-image: url('../images/pieces/leipzig/bP.svg');
}
.cg-wrap piece.bishop.black {
  background-image: url('../images/pieces/leipzig/bB.svg');
}
.cg-wrap piece.knight.black {
  background-image: url('../images/pieces/leipzig/bN.svg');
}
.cg-wrap piece.rook.black {
  background-image: url('../images/pieces/leipzig/bR.svg');
}
.cg-wrap piece.queen.black {
  background-image: url('../images/pieces/leipzig/bQ.svg');
}
.cg-wrap piece.king.black {
  background-image: url('../images/pieces/leipzig/bK.svg');
}
