.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Fixes problem of body width not updating properly after screen rotate on mobile */
html, body {
  overflow-x: hidden;
}

.feature3 {
  min-height: 100vh;
}

.chat-text {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-text strong {
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

.chat-text-suffix {
  font-style: italic;
  color: #8E9DA5;
}

#collapse-chat-arrow {
  display: none;
}
@media (min-width: 768px) {
  #collapse-chat-arrow {
    display: none !important;
  }
}

#game-requests {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-status {
  text-align: center;
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

.game-status .game-id {
  font-weight: normal;
}

.opening-name {
  text-align: center;
}

.game-watchers {
  white-space: pre-wrap;
}

#left-panel {
  height: 460px;
}

#left-panel.list-view-showing {
  height: 200px;
}

#left-panel-bottom {
  height: 192px;
  width: 100%;
}

.chat-text strong.mine {
  font-weight: bold;
  color: rgba(30, 60, 180, 0.8);
}

.chat-text strong.mention {
  font-weight: bold;
  color: rgba(240, 120, 120, 0.7);
}

.chat-text strong.chat-notification {
  font-style: italic;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text span.timestamp {
  font-size: 0.75em;
  font-variant: small-caps;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text a {
  text-decoration: none;
}

#chat-scroll-button {
  display: none;
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
}

#input-text {
  resize: none;   
}

.counter-bubble {
  fill: red;
}

.counter-number {
  font-size: 8px;
  fill: white;
}

.toggle-btn-selected.btn-outline-secondary {
  --bs-btn-bg: #BBBBBB;
}

.btn-toolbar .btn {
    margin-right: 10px;
}
.btn-toolbar .btn:last-child {
    margin-right: 0;
}

#chat-status {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.name {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 21px;
  padding: 0.5rem;
}

.captured {
  white-space: nowrap;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.captured-piece {
  padding-top: 0.35em;
  padding-bottom: 0.65em;
  line-height: 2.6em;
}

.captured img {
  display: inline-block;
  margin: -15px -5px 0 2px;
  width: 23px;
  opacity: 0.6;
  pointer-events: none;
}

.captured small {
  position: relative;
  left: -10px;
  top: 12px;
  opacity: 0.6;
}

.clock {
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
}

.clock.my-turn {
  background-color: rgba(0, 0, 0, 0.125);
}

.clock.low-time {
  color: red; 
}

.clock-time {
  font-size: 1.6rem;
}

.fractional-clock-time {
  font-size: 1.0rem;
}

.top-panel, .bottom-panel {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;  
  flex-shrink: 0;
}

.game-card {
  --game-tie-color: #fcddae;
  --game-win-color: #d4f9d9;
  --game-lose-color: #f9d4d4;
  --border-highlight-color: #009900;
  --border-expand-color: #000000;
  --border-expand-width: 2px;
}

.game-card.game-focused {
  border-color: var(--border-highlight-color);
}

.game-card .status {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.game-card .title-bar {
  display: none;
  --bs-card-cap-bg: #CCCCCC;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.game-card .title-bar-text {
  font-size: 0.8em;
  line-height: 1;
  user-select: none; 
  cursor: default; 
  white-space: nowrap;
  overflow: hidden;
}

.game-card .title-bar .btn {
  padding: 2px;
  line-height: 1;
  --bs-btn-active-bg: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-border-color: transparent; 
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
}

.game-card .title-bar .game-maximize-icon {
  font-size: 1em;
}

.game-card .title-bar .game-close-icon {
  font-size: 1.39em;   /* Randomely tweaked some values until the icons aligned properly */
  line-height: 0.72em;
  vertical-align: -0.11em;
}

.game-card-sm .status {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.game-card-sm .top-panel,
.game-card-sm .bottom-panel {
  height: 32px;
}

.game-card-sm .name {
  font-size: inherit;
  padding: 0.5rem;
}

.game-card-sm .rating {
  font-size: 0.6rem;
}

.game-card-sm .clock {
  padding-left: 10px;
  padding-right: 10px;
}

.game-card-sm .clock-time {
  font-size: 1.0rem;
}

.game-card-sm .fractional-clock-time {
  font-size: 0.625rem;
}

.game-card-sm .captured {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.game-card-sm .captured-piece {
  font-size: 0.75rem;
  padding-top: 0.38em;
  padding-bottom: 0.38em;
}

.game-card-sm .captured img {
  margin: -13px -6px 0 -1px;
  width: 15px;
}

.game-card-sm .captured small {
  left: -4px;
  top: 6px;
}

#secondary-board-area {
  display: none;
  gap: 8px; 
  align-items: flex-start;
  flex-wrap: wrap;
}

#game-toolbar .btn {
  --bs-btn-active-color: rgba(159, 184, 228, 0.75);
  --bs-btn-active-bg: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-border-color: transparent; 
  --bs-btn-active-border-color: transparent;
}

#game-toolbar {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0.5rem;
}
#game-toolbar .btn {
  --bs-btn-active-color: rgba(159, 184, 228, 0.75);
}
#game-tools-close .dropdown-icon {
  padding-left: 0.125rem; 
  padding-right: 0.25rem;
}

#move-table {
  padding: 0;
}
#move-table th {
  border: 0;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
#move-table td {
  border: 0;
  width: 40%;
  text-align: center;
}
#move-table .selectable:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
#move-table .subvariation:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
#move-table .selectable:hover a {
  font-weight: bold;
  text-decoration: none;
}
#move-table .subvariation td,
#move-table .subvariation th {
  background: rgba(0, 0, 0, 0.15);
}
#move-table tr:nth-of-type(odd):not(.subvariation) {
  background-color: rgba(0, 0, 0, 0.05);
}
#move-table .subvariation .selected {
  background-color: rgba(0, 0, 0, 0.15);
}
#move-table .subvariation a {
  color: #191970
}
#move-table .selected {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 2px; 
  padding-bottom: 3px; 
  padding-left: 15px; 
  padding-right: 15px;
  font-weight: bold;
}

.movelist .selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000000;
}
.movelist .subvariation {
  color: #5e4d3b;
}
.movelist .subvariation .selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: #2e2418;
}
.movelist .move:hover,
.movelist .subvariation .move:hover {
  color: rgb(10, 88, 202);
}
.movelist .selected:hover,
.movelist .subvariation .selected:hover {
  color: rgb(10, 88, 202);
}

.nav-tabs .nav-item .closeTab {
  opacity: 0;
  margin: 0px;
  padding: 0px;
  font-size: 0.85em;
}

.nav-tabs .nav-item:hover .closeTab {
  opacity: 1;
}

.nav-tabs .nav-link {
  font-size: 0.85em;
  padding-top: 1px;
  padding-bottom: 1px;
}

#tabs .nav-link {
  height: 32px
}

.tab-unviewed {
  color: tomato !important;
  font-weight: bold;
}

.nav-tabs {
  --bs-nav-tabs-link-active-bg: rgba(255, 255, 255, 0.5);
}

.nav-pills {
  --bs-nav-pills-link-active-color: #6c757d;
  --bs-nav-pills-link-active-bg: #f7f7f7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 1px solid rgba(0,0,0,.125);
}

.dropdown-icon {
  margin-right: 6px;
}

.hide-caret.dropdown-toggle::after {
  display: none;
}

#variants-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.color-box {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.gh-emoji {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}

#textsize-range {
  width: 60px;
  height: auto;
  padding-left: 5px;
}

#engine-pvs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#engine-pvs > li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
#engine-pvs > li {
  padding: 6px;
}

#engine-pvs {
  font-size: 0.4em;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
#engine-pvs > li {
  font-size: 2.3em;
}
.btn-engine {
  font-family: monospace; 
  font-weight: bold;
}

.pane-status {
  margin: 10px; 
  text-align: center;
}

@media (max-width: 767px) {
  .collapse-init {
    display: none;
  }

  #close-status {
    font-size: 30px;
    top: 15px;
    right: 9px;
    line-height: 0px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  #close-status {
    font-size: 20px;
    top: 9px;
    right: 3px;
    line-height: 0px;
    padding: 0px;
  }
}

/* Turn hover state off for buttons on devices with no mouse (mobile) because it looks stupid */
/* We achieve this by setting the hover color to match the normal button color */
@media (hover: none) {
  .btn-outline-secondary:hover { 
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-hover-bg: var(--bs-btn-bg);
  }
}

.eval-line-above {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.eval-line-below {
  fill: none;
  stroke: red;
  stroke-width: 3;
}

.eval-area-above {
  fill: lightsteelblue;
  stroke-width: 0;
}

.eval-area-below {
  fill: #614e6e;
  stroke-width: 0;
}

.eval-axis .tick line {
  stroke-width: 1;
  stroke: #DDD;
}

.eval-circle  {
  stroke: #af9358;
  fill: white;
  stroke-width: 2;
}

#eval-progress {
  padding: 20px;
}

.promotion-panel {
  display: none;
  position: absolute;
  z-index: 10;
  height: 50%;
  width: 12.5%;
  top: 0;
  left: 0;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
              0 0 6px rgba(0, 0, 0, 0.2),
              0 4px 6px -4px rgba(0, 0, 0, 0.2),
              0 -4px 6px -4px rgba(0, 0, 0, 0.2);
}

/* Fix margin collapse glitch */
#lobby-table .btn:not(:last-child) {
  margin: 0px;
  border-bottom: none;  
}

.notification-panel {
  transition: none;
  width: 100%;
  position: relative;
  z-index: 0;
  --bs-toast-bg: white;
  --bs-toast-border-color: #DDDDDD;
}

#notifications.slide-up {
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.notification-panel.slide-down {
  transition: opacity 0.8s ease, margin-top 0.8s ease, z-index 0s ease 0.8s;
}

.notification-panel.slide-sideways {
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.notification-panel.slide-up {
  transition: opacity 0.8s ease, margin-top 0.8s ease;  
}

.notifications-panel.notification .toast-header {
  padding-top: 6px;
  padding-bottom: 6px;
}

.notifications-panel.notification .toast-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#notifications-header {
  --bs-toast-bg: ghostwhite;
} 

#notifications-header .toast-body {
  padding-top: 1px;
  padding-bottom: 1px;
}

#notifications-close-icon {
  color: #060600; 
  font-size: 19px; 
  transform: translate(-1.5px, -3.2px);
}

#notifications-footer .toast-body {
  padding-top: 3px;
  padding-bottom: 4px;
}

.close {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal {
  --bs-modal-color: var(--fg-color);
}

#play-computer-modal .modal-dialog {
  max-width: 400px;
}

.form-heading {
  color: #638FA8;
}

.dropdown-menu li { 
  position: relative; 	
}
.dropdown-submenu{  
  display: none;
  position: absolute;
  left:100%;
  top:-7px;
}
.dropdown-submenu-left { 
  right:100%; left:auto;
}
.dropdown-menu > li:hover > .dropdown-submenu{ display: block; }
@media (max-width: 767px) {
  .dropdown-submenu {
    right:100%; left:auto;
    min-width: 0;
  }
}	

.tooltip-separator {
  margin-top: 4px;
  margin-bottom: 4px;
}

.tooltip-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}