.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Fixes problem of body width not updating properly after screen rotate on mobile */
html, body {
  overflow-x: hidden;
}

.feature3 {
  min-height: 100vh;
}

.chat-text {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-text strong {
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

#game-requests {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#game-status {
  text-align: center;
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

#opening-name {
  text-align: center;
}

#left-panel-bottom {
  height: 192px;
  width: 100%;
}

.chat-text strong.mine {
  font-weight: bold;
  color: rgba(30, 60, 180, 0.8);
}

.chat-text strong.mention {
  font-weight: bold;
  color: rgba(240, 120, 120, 0.7);
}

.chat-text strong.notification {
  font-style: italic;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text span.timestamp {
  font-size: 0.75em;
  font-variant: small-caps;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text a {
  text-decoration: none;
}

#chat-scroll-button {
  display: none;
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
}

.counter-bubble {
  fill: red;
}

.counter-number {
  font-size: 8px;
  fill: white;
}

.toggle-btn-selected.btn-outline-secondary {
  --bs-btn-bg: #BBBBBB;
}

.btn-toolbar .btn {
    margin-right: 10px;
}
.btn-toolbar .btn:last-child {
    margin-right: 0;
}

#chat-status {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.name {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 21px;
}

.captured img {
  display: inline-block;
  margin: -15px 0 -4px -4px;
  width: 23px;
  opacity: 0.6;
  pointer-events: none;
}

.captured small {
  position: relative;
  left: -15px;
  top: 12px;
  opacity: 0.6;
}

.clock {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 21px;
}

.history {
  padding: 0;
}

.history th {
  border: 0;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.history td {
  border: 0;
  width: 40%;
  text-align: center;
}

.history .selectable:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.history .subvariation:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.history .selectable:hover a {
  font-weight: bold;
  text-decoration: none;
}

.history .subvariation td {
  background: #D7D7D7;
}

.history .subvariation th {
  background: #D7D7D7;
}

.history tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.history .subvariation .selected {
  background-color: #BBBBBB; 
}

.history .subvariation a {
  color: #191970
}

.history .selected {
  background-color: #DDDDDD; 
  padding-top: 2px; 
  padding-bottom: 3px; 
  padding-left: 15px; 
  padding-right: 15px;
  font-weight: bold;
}

.nav-tabs .nav-item .closeTab {
  opacity: 0;
  margin: 0px;
  padding: 0px;
  font-size: 0.85em;
}

.nav-tabs .nav-item:hover .closeTab {
  opacity: 1;
}

.nav-tabs .nav-link {
  font-size: 0.85em;
  padding-top: 1px;
  padding-bottom: 1px;
}

#tabs .nav-link {
  height: 32px
}

.tab-unviewed {
  color: tomato !important;
  font-weight: bold;
}

.nav-tabs {
  --bs-nav-tabs-link-active-bg: rgba(255, 255, 255, 0.5);
}

.nav-pills {
  --bs-nav-pills-link-active-color: #6c757d;
  --bs-nav-pills-link-active-bg: #f7f7f7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 1px solid rgba(0,0,0,.125);
}

.dropdown-icon {
  margin-right: 6px;
}

.hide-caret.dropdown-toggle::after {
  display: none;
}

#variants-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.color-box {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.gh-emoji {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}

#textsize-range {
  width: 60px;
  height: auto;
  padding-left: 5px;
}

#engine-pvs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#engine-pvs > li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
#engine-pvs > li {
  padding: 6px;
}

#engine-pvs {
  font-size: 0.4em;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
#engine-pvs > li {
  font-size: 2.3em;
}
.btn-engine {
  font-family: monospace; 
  font-weight: bold;
}

.top-panel {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.bottom-panel {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.pane-status {
  margin: 10px; 
  text-align: center;
}

@media (max-width: 767px) {
  .collapse-init {
    display: none;
  }

  #close-status {
    font-size: 30px;
    top: 15px;
    right: 9px;
    line-height: 0px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  #close-status {
    font-size: 20px;
    top: 9px;
    right: 3px;
    line-height: 0px;
    padding: 0px;
  }
}

/* Turn hover state off for buttons on devices with no mouse (mobile) because it looks stupid */
/* We achieve this by setting the hover color to match the normal button color */
@media (hover: none) {
  .btn-outline-secondary:hover { 
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-hover-bg: var(--bs-btn-bg);
  }
}

.eval-line-above {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.eval-line-below {
  fill: none;
  stroke: red;
  stroke-width: 3;
}

.eval-area-above {
  fill: lightsteelblue;
  stroke-width: 0;
}

.eval-area-below {
  fill: #614e6e;
  stroke-width: 0;
}

.eval-axis .tick line {
  stroke-width: 1;
  stroke: #DDD;
}

.eval-circle  {
  stroke: #af9358;
  fill: white;
  stroke-width: 2;
}

#eval-progress {
  padding: 20px;
}

#promotion-panel {
  display: none;
  position: absolute;
  z-index: 10;
  height: 50%;
  width: 12.5%;
  top: 0;
  left: 0;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
              0 0 6px rgba(0, 0, 0, 0.2),
              0 4px 6px -4px rgba(0, 0, 0, 0.2),
              0 -4px 6px -4px rgba(0, 0, 0, 0.2);
}

/* Fix margin collapse glitch */
#lobby-table .btn:not(:last-child) {
  margin: 0px;
  border-bottom: none;  
}

.notification-panel {
  transition: none;
  width: 100%;
  position: relative;
  z-index: 0;
  --bs-toast-bg: white;
  --bs-toast-border-color: #DDDDDD;
}

#notifications.slide-up {
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.notification-panel.slide-down {
  transition: opacity 0.8s ease, margin-top 0.8s ease, z-index 0s ease 0.8s;
}

.notification-panel.slide-sideways {
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.notification-panel.slide-up {
  transition: opacity 0.8s ease, margin-top 0.8s ease;  
}

.notifications-panel.notification .toast-header {
  padding-top: 6px;
  padding-bottom: 6px;
}

.notifications-panel.notification .toast-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#notifications-header {
  --bs-toast-bg: ghostwhite;
} 

#notifications-header .toast-body {
  padding-top: 1px;
  padding-bottom: 1px;
}

#notifications-close-icon {
  color: #060600; 
  font-size: 19px; 
  transform: translate(-1.5px, -3.2px);
}

#notifications-footer .toast-body {
  padding-top: 3px;
  padding-bottom: 4px;
}

.status {
  --game-tie-color: #fcddae;
  --game-win-color: #d4f9d9;
  --game-lose-color: #f9d4d4;
}

.clock.low-time {
  color: red; 
}

.close {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}