.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.chat-text {
  width: 100%;
  height: 100%;
  overflow: auto;
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-text strong {
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

#game-requests {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  z-index: 100;
}

#game-status {
  text-align: center;
  font-weight: bold;
  color: rgba(80, 80, 120, 0.65);
}

#left-panel-bottom {
  height: 192px;
  width: 100%;
}

.chat-text strong.mine {
  font-weight: bold;
  color: rgba(30, 60, 180, 0.8);
}

.chat-text strong.mention {
  font-weight: bold;
  color: rgba(240, 120, 120, 0.7);
}

.chat-text strong.notification {
  font-style: italic;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text span.timestamp {
  font-size: 0.75em;
  font-variant: small-caps;
  color: rgba(140, 140, 140, 0.8);
}

.chat-text a {
  text-decoration: none;
}

.btn-toolbar .btn {
    margin-right: 10px;
}
.btn-toolbar .btn:last-child {
    margin-right: 0;
}

#chat-status {
  display: inline-block;
  vertical-align: center;
  line-height: 20px;
}

.name {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.captured img {
  display: inline-block;
  margin: -15px 0 -4px -4px;
  width: 23px;
  opacity: 0.6;
  pointer-events: none;
}

.captured small {
  position: relative;
  left: -15px;
  top: 12px;
  opacity: 0.6;
}

.clock {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.history {
  padding: 0;
}

.history th {
  border: 0;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.history td {
  border: 0;
  width: 40%;
  text-align: center;
}

.history .selectable:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.history .subvariation:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.history .selectable:hover a {
  font-weight: bold;
  text-decoration: none;
}

.history .subvariation td {
  background: #D7D7D7;
}

.history .subvariation th {
  background: #D7D7D7;
}

.history tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.history .subvariation .selected {
  background-color: #BBBBBB; 
}

.history .subvariation a {
  color: #191970
}

.history .selected {
  background-color: #DDDDDD; 
  padding-top: 2px; 
  padding-bottom: 3px; 
  padding-left: 15px; 
  padding-right: 15px;
  font-weight: bold;
}

.nav-tabs .nav-item .closeTab {
  opacity: 0;
  margin-right: 0px;
  padding-right: 0px;
  font-size: 0.85em;
}

.nav-tabs .nav-item:hover .closeTab {
  opacity: 1;
}

.nav-tabs .nav-link {
  font-size: 0.85em;
  padding-top: 1px;
  padding-bottom: 1px;
}

#left-bottom-tabs .nav-link.active {
  background-color: #f7f7f7;
  border-bottom-color: #f7f7f7;
}

.nav-pills .nav-link.active {
  color: #6c757d;
  background-color: #f7f7f7;
  border: 1px solid rgba(0,0,0,.125);
}

.dropdown-icon {
  margin-right: 6px;
}

.dropdown-toggle::after {
  display: none;
}

.color-box {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.gh-emoji {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}

#textsize-range {
  width: 60px;
  height: auto;
  padding-left: 5px;
}

ul.list-striped {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
ul.list-striped > li:nth-of-type(even) {
  background-color: #e9e9f9;
}
ul.list-striped > li {
  padding: 6px;
}

#engine-pvs {
  font-size: 0.4em;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
#engine-pvs > li {
  font-size: 2.3em;
}
.btn-engine {
  font-family: monospace; 
  font-weight: bold;
}

.top-panel {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.bottom-panel {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.pane-status {
  margin: 10px; 
  text-align: center;
}

